@media screen 
  and (max-width: 450px){   
	.navbar{
		height:auto;
		display:none;
	}
	.navbar ul li{
		float:none;
		text-align:center;
		padding:10px;
	}
	.close_navbar{
		display:block !important;
	}
	.welcome_text{
		font-size:3em
	}
	.section_header{
		top:0px;
	}
	li{
		font-size:2em
	}
	h2{
		font-size:2em
	}
	u,p,button{
		font-size:1em
	}
}

@media screen 
  and (min-width: 451px)
  and (max-width: 720px){   
	.navbar{
		height:auto;
		display:none;
	}
	.navbar ul li{
		float:none;
		text-align:center;
		padding:10px;
	}
	.close_navbar{
		display:block !important;
	}
	.welcome_text{
		font-size:3.5em
	}
	.section_header{
		top:0px;
	}
	li{
		font-size:2.2em
	}
	h2{
		font-size:3em
	}
	u,p,button{
		font-size:1.4em
	}
}

@media screen 
  and (min-width: 721px)
  and (max-width: 850px){    
	.navbar{
		height:55px;
		display:block !important;
	}
	.navbar ul li{
		float:left;
		text-align:left;
		padding: 0 20px;
	}
	.close_navbar{
		display:none;
	}
	.welcome_text{
		font-size:4em
	}
	.section_header{
		top:55px;
	}
	li{
		font-size:2em;
	}
	h2{
		font-size:3em;
	}
	u,p,button{
		font-size:1.6em
	}
}
@media screen 
  and (min-width: 851px)
  and (max-width: 1200px){    
	.navbar{
		height:55px;
		display:block !important;
	}
	.navbar ul li{
		float:left;
		text-align:left;
		padding: 0 20px;
	}
	.close_navbar{
		display:none;
	}
	.welcome_text{
		font-size:5em
	}
	.section_header{
		top:55px;
	}
	li{
		font-size:2.5em;
	}
	h2{
		font-size:3.5em;
	}
	u,p,button{
		font-size:1.8em
	}
}
@media screen 
  and (min-width: 1201px)
  and (max-width: 1600px){    
	.navbar{
		height:55px;
		display:block !important;
	}
	.navbar ul li{
		float:left;
		text-align:left;
		padding: 0 20px;
	}
	.close_navbar{
		display:none;
	}
	.welcome_text{
		font-size:6em
	}
	.section_header{
		top:55px;
	}
	li{
		font-size:2.7em;
	}
	h2{
		font-size:3.5em;
	}
	u,p,button{
		font-size:2em
	}
}
@media screen 
  and (min-width: 1601px){    
	.navbar{
		height:55px;
		display:block !important;
	}
	.navbar ul li{
		float:left;
		text-align:left;
		padding: 0 20px;
	}
	.close_navbar{
		display:none;
	}
	.welcome_text{
		font-size:7em
	}
	.section_header{
		top:55px;
	}
	li{
		font-size:3em;
	}
	h2{
		font-size:5em;
	}
	u,p,button{
		font-size:2.2em
	}
}



